 
<div class="mt-4 p-5 bg-primary text-white rounded">
 <h1>About Us!</h1>
 <p>We are a stock trading application that provides users with a platform to access stock values, the latest news, trades, copy trades and many features</p>
 <br/>
 <br/>
 <h2>Address</h2>
 <p>1234 Nutwood Ave,</p>
 <p>Fullerton,</p> 
 <p>CA, 92831,</p>
 <p>USA</p>

</div>

 <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>